.form{
    height: 100vh;
}
.floatLeft{
    float: left;
}
.form form{
    padding: 20px 10px;
}
.footer{
    position: fixed;
    bottom: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
}