.form{
    height: 100vh;
}
.floatLeft{
    float: left;
}
.form form{
    padding: 20px 10px;
}
.footer{
    position: fixed;
    bottom: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.badge{
    background-color: #198754;
    text-transform: capitalize;
}
.cardContainer{
    margin: 20px;
}

.capitalize{
    text-transform: capitalize;
}